<!DOCTYPE html>
<html lang="en">
<head>

    <title>Scenario to Approve</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/animate.css">
    <link rel="stylesheet" href="../../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../../public/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../public/css/tooplate-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" >

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-5">
                <p>Web-Based Game for Teaching Testing</p>
            </div>



        </div>
    </div>
</header>


<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="index.html" class="navbar-brand"></i>Testing Game</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Home</a></li>
            </ul>
        </div>

    </div>
</section>


<%if (success_msg != '') { %>
    <div class="alert alert-success">
        <%= success_msg %>
    </div>
<% } %>
<%if (error_msg != '') { %>
    <div class="alert alert-danger">
        <%= error_msg %>
    </div>
<% } %>

<%if (success_msg) { %>

    <% for(var i=0; i<success_msg.length;i++) {%>
        <div class="alert alert-success">
            <%= success_msg[i].msg %>
        </div>

    <% } %>

<% } %>

<%if (error) { %>

    <% for(var i=0; i<error.length;i++) {%>
        <div class="alert alert-danger">
            <%= error[i].msg %>
        </div>

    <% } %>

<% } %>



<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">

    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <div class="about-info">

                </div>
            </div>
            <div>
                <h2>User : </h2><h3 id="user"><%= exercises.username%></h3>
                <h2>Code : </h2><h3 id="code"><%= exercises.code%></h3>
                <h2>Mutation : </h2><h3 id="mutation"> <%= exercises.mutation%></h3>
                <h2>Explain Code : </h2><h3 id="explaincode"><%= exercises.explaincode%></h3>
                <h2>Explain Mutation : </h2><h3 id="explainmut"> <%= exercises.explainmut%></h3>
                <h2>Solution : </h2><h3 id="solution"> <%= exercises.solution%></h3>
            </div>



                <button onclick="readyUpload()">Prepare for Approval</button>





                <p>Upon killing the mutant, click 'Save' to update your score.</p>
                <p>Press 'Exit' to select another scenario.</p>
            <form method="post" action="/exercises/createScenario">
                <input  class="form-control" placeholder="code" name="code" id="c">
                <input class="form-control" placeholder="mutation" name="mutation" id="m">
                <input  class="form-control" placeholder="explaincode" name="explaincode" id="ec">
                <input class="form-control" placeholder="explainmut" name="explainmut" id="em">
                <input class="form-control" placeholder="solution" name="solution" id="s">
                <button type="submit" class="btn btn-default" id="upload">Upload</button>
            </form>




            </div>
            <p></p>
            <a href="scenarioList" class="section-btn btn btn-default smoothScroll">Exit</a>

        </div>
    </div>


</section>






<!-- SCRIPTS -->
<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/bootstrap.min.js"></script>
<script src="../../public/js/jquery.sticky.js"></script>
<script src="../../public/js/jquery.stellar.min.js"></script>
<script src="../../public/js/wow.min.js"></script>
<script src="../../public/js/smoothscroll.js"></script>
<script src="../../public/js/owl.carousel.min.js"></script>
<script src="../../public/js/custom.js"></script>
<script src="../../public/js/btnClick.js"></script>


</body>
</html>