<!DOCTYPE html>
<html lang="en">
<head>

    <title>Exercises</title>



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Tooplate">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/animate.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.min.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../public/css/tooplate-style.css">


</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="checkScore()">

<!-- PRE LOADER -->
<section class="preloader">
    <div class="spinner">

        <span class="spinner-rotate"></span>

    </div>
</section>


<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-5">
                <p>Web-Based Game for Teaching Testing</p>
            </div>



        </div>
    </div>
</header>


<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>

            <!-- lOGO TEXT HERE -->
            <a href="index.html" class="navbar-brand"></i>Testing Game</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/" class="smoothScroll">Home</a></li>
            </ul>
        </div>

    </div>
</section>





<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <h1>Pick a Scenario!</h1>
        <div class="sameLine">

            <a href="/games/scenarioA0" class="section-btn btn btn-default smoothScroll">Play Scenario 1!</a>
            <h3 id="s0"><%=user.scenarioA %></h3>
            <p></p>
            </div>
        <div class="sameLine">

            <a href="/games/scenarioB0" class="section-btn btn btn-default smoothScroll">Play Scenario 2!</a>
            <h3 id="s1"><%=user.scenarioB %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioC0" class="section-btn btn btn-default smoothScroll">Play Scenario 3!</a>
            <h3 id="s2"><%=user.scenarioC %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioD0" class="section-btn btn btn-default smoothScroll">Play Scenario 4!</a>
            <h3 id="s3"><%=user.scenarioD %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioE0" class="section-btn btn btn-default smoothScroll">Play Scenario 5!</a>
            <h3 id="s4"><%=user.scenarioE %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioF0" class="section-btn btn btn-default smoothScroll">Play Scenario 6!</a>
            <h3 id="s5"><%=user.scenarioF %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioG0" class="section-btn btn btn-default smoothScroll">Play Scenario 7!</a>
            <h3 id="s6"><%=user.scenarioG %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioH0" class="section-btn btn btn-default smoothScroll">Play Scenario 8!</a>
            <h3 id="s7"><%=user.scenarioH %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioI0" class="section-btn btn btn-default smoothScroll">Play Scenario 9!</a>
            <h3 id="s8"><%=user.scenarioI %></h3>
            <p></p>
        </div>
        <div class="sameLine">

            <a href="/games/scenarioJ0" class="section-btn btn btn-default smoothScroll">Play Scenario 10!</a>
            <h3 id="s9"><%=user.scenarioJ %></h3>
            <p></p>
        </div>




        </div>
    </div>
</section>





<!-- SCRIPTS -->
<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/jquery.sticky.js"></script>
<script src="../public/js/jquery.stellar.min.js"></script>
<script src="../public/js/wow.min.js"></script>
<script src="../public/js/smoothscroll.js"></script>
<script src="../public/js/owl.carousel.min.js"></script>
<script src="../public/js/custom.js"></script>
<script src="../public/js/btnClick.js"></script>


</body>
</html>