<!DOCTYPE html>
<html lang="en">
<head>
    <title>Write Test Cases Scenario List</title>
</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50" onload="tcheckScore()">

<!-- HOWTO -->
<section id="team" data-stellar-background-ratio="1">
    <div class="container">
        <h1>Pick a Scenario!</h1>
        <p></p>

        <div class="sameLine">
            <% var i=0;%>
            <% exercises.forEach(function (exercises) { %>
                <% var exists=0;%>
                <% for(var s=0; s<user.gameScores.length;s++) {%>

                    <%if (JSON.stringify(exercises._id) == JSON.stringify(user.gameScores[s].objectId)){%>
                        <% exists = 1;%>
                    <%}%>
                <%}%>
                <% if (exists === 0) {%>
                    <a href="/testgames/scenario/<%=type%>/<%=exercises._id%>"  class="section-btn1 btn btn-default smoothScroll">Play Scenario <%= i%></a>
                <% }%>
                <% if (exists === 1) {%>
                    <a href="/testgames/scenario/<%=type%>/<%=exercises._id%>"  class="section-btn btn btn-default smoothScroll">Play Scenario <%= i%></a>
                <%}%>
                <% i = i + 1;%>
            <% }) %>

            <h3 >More Soon!</h3>
            <p></p>
            </div>

        <a href="/games/gameList">Return to Games List</a>
    </div>
</section>
<!-- SCRIPTS -->
<script src="../public/js/btnClick.js"></script>
</body>
</html>